ALTER TABLE stg_gharchive._repo DELETE WHERE date_load = '{{ data_interval_end }}'
;

INSERT INTO stg_gharchive._repo
(date_load, event_id, id, name, url)
select
    date_load,
    id as event_id,
    JSONExtract(repo, 'id', 'Nullable(UInt64)') as id,
    JSONExtract(repo, 'name', 'Nullable(String)') as name,
    JSONExtract(repo, 'url', 'Nullable(String)') as url
from snp_gharchive._events_raw_extract
where isValidJSON(repo)
    and date_load = '{{ data_interval_end }}'
